.background-animation {
    background: linear-gradient(0.33turn, #9b6c84, #8b9c84, #848a9b, #9c857d);
    background-size: 400% 400%;
    animation: gradientshift 12s ease infinite;
}

@keyframes gradientshift {
    0%   { background-position: 0%   50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0%   50%; }
}