@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.input-effect{
    padding:2rem;
    border: 3px solid rgba(255,255,255,0.3);
    border-color: black;
    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    color: black;
    font-size:24px;
    border-radius: 1rem;
    margin:1rem;
    outline:none;
    transition: box-shadow 0.3s ease-in-out;
    max-height: 1rem;
}

.input-effect:hover{
    border: 3px solid rgba(255,255,255,0.7);
    border-color: black;
    background-color:rgba(255,255,255,0.2);
    box-shadow: 0 0 8px rgb(13, 100, 236, 1);
}

.input-effect::placeholder{
  color:black;
  opacity:0.6;
}

.typewriter span {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }